.manage-user-container {
    padding: 10px;

    .title {
        font-weight: 600;
        font-size  : 20px;
    }

    .manage-user-content {
        .btn-add-new {
            display    : flex;
            align-items: center;
        }
    }
}

.modal-add-user {
    .label-upload {
        display         : flex;
        gap             : 5px;
        align-items     : center;
        width           : fit-content;
        padding         : 3px 10px;
        border-radius   : 5px;
        border          : none;
        cursor          : pointer;
        background-color: #eeeeee;

        &:hover {
            background-color: #dcdcdc;
        }
    }

    .img-preview {
        height         : 150px;
        border         : 1px dashed #ccc;
        display        : flex;
        justify-content: center;
        align-items    : center;
        color          : #ccc;

        img {
            max-width : 100%;
            max-height: 100%;
        }
    }
}