.detail-quiz-container {
    display: flex;
    gap    : 20px;
    padding: 50px;

    .left {
        width: 70%;

        .title {
            font-size  : 30px;
            font-weight: 600;
        }

        .question-content {
            .question {
                font-size  : 20px;
                font-weight: 600;
            }

            .question-image {
                img {
                    width : 300px;
                    height: 200px;
                }
            }
        }

        .question-footer {
            display        : flex;
            align-items    : center;
            justify-content: center;
            gap            : 15px;

            button {
                &:disabled {
                    pointer-events: unset !important;
                    cursor        : no-drop !important;
                }
            }
        }
    }

    .right {
        width: 30%;
    }
}