.modal-add-user {

    .form-password,
    .form-quiz-history {
        min-height: 391.200px;
    }

    .form-password {
        display        : flex;
        justify-content: center;
        align-items    : center;
    }
}